html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-area: main;
}

/* Layout */

header {
  background: linear-gradient(
    90deg,
    rgb(167, 201, 87) 0%,
    rgb(56, 102, 65) 100%
  );
  height: 80px;
  width: 101.12%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 2rem;
}
main {
  grid-area: main;
  /* padding: 0rem 5rem 5rem 0rem; */
}
/*footer {
  grid-area: footer;
  background-color: #386641;
  color: #f2e8cf;
  width: 101.1%;
}*/
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h5 {
  color: #bc4749;
}

a {
  text-decoration: none;
}
a:hover {
  color: #bc4749;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #f2e8cf solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f2e8cf;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #386641 solid;
}
button.primary {
  background-color: #a7c957;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #f2e8cf;
  padding: 1rem;
}

.badge {
  background-color: #bc4749;
  color: #f2e8cf;
  border-radius: 25%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  flex: 1 1 30rem;
}
.col-3 {
  flex: 1 1 30rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-4 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.col-5 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #f2e8cf;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #f2e8cf;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #f2e8cf;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 20rem;
  display: block;
  width: 400px;
  height: 350px;
}
img.large {
  width: 100%;
  display: block;
}

/* Card */
.card {
  border: 0.1rem #f2e8cf solid;
  background-color: #f2e8cf;
  border-radius: 2rem;
  margin: 0.5rem;
}
.card-body {
  padding: 2rem;
}
.card-body > * {
  margin-bottom: 1rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #386641;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #a7c957;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #a7c957;
}
.danger {
  color: #bc4749;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #f2e8cf;
  background-color: #bc4749;
}
.alert-danger {
  color: #bc4749;
  background-color: #f2e8cf;
}
.alert-success {
  color: #386641;
  background-color: #f2e8cf;
}
/* Form */
.form,
.extra {
  max-width: 60rem;
  margin: 0 auto;
}
.form,
.extra > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form,
.extra label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #f2e8cf;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgb(167, 201, 87) 0%,
    rgb(56, 102, 65) 100%
  );
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f2e8cf;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #f2e8cf;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #f2e8cf solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #f2e8cf solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f2e8cf;
}
.summary-title.color2 {
  background-color: #f2e8cf;
}
.summary-title.color3 {
  background-color: #f2e8cf;
}

/* Chatbox */
.chatbox {
  color: #386641;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f2e8cf;
  height: 100%;
}
.support-users li {
  background-color: #f2e8cf;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f2e8cf;
  border-bottom: 0.1rem #f2e8cf solid;
}

.support-users li:hover {
  background-color: #f2e8cf;
}
.support-users li.selected {
  background-color: #f2e8cf;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #f2e8cf;
}
.support-users .online {
  background-color: #386641;
}
.support-users .unread {
  background-color: #bc4749;
}
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.loading {
  display: block !important;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #f2e8cf solid;
  color: #f2e8cf;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #bc4749;
  color: #bc4749;
}
button.small {
  font-size: 1.2rem;
}
