* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.dFlex,  .main_content, .main_content .card, .main_content .card .card_header, .btn, .footer, .footer .social, .footer .social .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #386641;
  }
  
  
  
  .main_content {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .main_content h3 {
    position: absolute;
    left: 0;
    top: 0;
    color: #2d343e;
    font-size: 10.5vw;
  }
  
  .main_content .card {
    width: 30%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .main_content .card .card_img {
    margin-top: -5vw;
  }
  
  .main_content .card .card_img img {
    width: 200px;
  }
  
  .main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #F2E8CF;
    
    margin: 25px 0;
  }
  
  .main_content .card .card_header h2 {
    font-size: 18px;
    color: #000000;
  }
  
  .main_content .card .card_header p {
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin: 8px 0;
  }
  
  .main_content .card .card_header .price {
    font-size: 25px;
    color: #F2E8CF;
  }
  
  .main_content .card .card_header .price span {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
  }
  
  .main_content .card:hover {
    background-color: #386641;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  
  .main_content .card:hover .btn-card {
    background-color: #BC4749;
    color: #fff;
  }
  
  .btn-card {
    width: 130px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 35px;
    background-color: #386641;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }
  .description {
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .slider-wrapper {
    width: 760px;
    margin: 10% auto auto auto ;
    
  
  }
  .slick-slide {
    text-align: center;
    position: relative;
    
   
  }
  .slick-slide:focus {
    outline: none;
  }
  .slick-slide-title {
    text-transform: capitalize;
  }
  .slick-slide-image {
    max-width: 100%;
    height: auto;
    border-radius: 10% 30% 50% 70%;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  }
  .slick-slide-label {
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    font-size: 1.5em;
    bottom: 0px;
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #777777;
  }
  .thumbnail-slider-wrap {
    margin-top: 15px;
    height: 85px;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
  }
 .Slide  {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   
      background: linear-gradient(to right, #BC4749, #F2E8CF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: xx-large;
    
  }